header {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 10px 20px;
    height: 87px;
    img { 
        height: 50px;
    }
    
}

/*nav bar*/

header nav ul {
    color: #ffffff;
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 24px;
    padding: 5px 40px;
    

}

header nav a {
    margin: 16px;
    padding: 10px 40px;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.btn {
    display: inline-block;
    background-color:#ff7900;
    color: #fff;
    padding: 15px 40px;
    border: 0px;
    border-radius: 5px;
    font-size: 1rem;
    transition: all 0.2s;
}

.btn:hover {
    transform: scale(1.1);
    animation-delay: calc(2);

}

header li >a:hover {
    color: #ff7900;
}
   


/*menu de nav bar*/
/*cacher le menu*/

.dropdown {
    position: relative;
    display: inline-block;

  }
.dropdown-content {
    display: none;
    position: absolute;
    position:top 67px;
    background-color: #000000;
    min-width: 250px;
    min-height:auto;
    z-index: 1; /*pour que le menu soit au dessus a pas ouble=ier pour moi*/
    border: 0;
    
}
/*rajouter pour le first child*/
.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 20px 16px;
    text-decoration: none;
    display: block;
    margin: auto;
   
  }

/*montrer le menu*/

.dropdown:hover .dropdown-content {
    display:block;
}

.dropdown-content a:hover {
    background-color: #ffffff;
    color: #ff7900;
}

.dropdown-content a:first-child{
    margin-top: 41px;
    
}

.close-btn {
    display: none;
}

.open-btn {
   
    display:none;
    
}


@media only screen and (max-width: 1310px) {
    header nav {
        position: fixed;
        transform: translateX(100%);
        z-index: 2;
        top:0;
        height: 100%;
        margin: 0;
        width: 30rem;
        justify-content: center;
        padding: 5rem 0 0;
        background-color: #000000;
        display: flex;
        left: 100%;
        justify-content: flex-start;
        flex-direction: column;
        transition: all .3s linear;
        overflow-y: scroll;
     }
     
    nav.responsive {
        transform: translateX(0%);
        left: 0; 
        width: 100%;
    }
    #contact-us {
        display: none;
    }
    nav.responsive .open-btn {
        position:absolute;
        top:-50px;
        left: -200px;
    }
    header nav.responsive ul{
        float: none;
        display: flex;
        flex-direction: column;
        background-color: #000000;
        height:100%;
        width:100%;
        position:relative;
        top:100px;
    }
     .close-btn {
        display: block;
        position: fixed;
        text-align: right;
        padding: 10px;
        top: 5px;
        right: 20px;
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 40px;
        font-family: monospace;
        flex-basis: 100px;
     } 
     .open-btn {
        float: right;
        font-size: 40px;
        text-decoration: none;
        color: rgb(255, 255, 255);
        margin: 0;
        display:block;  
    }
    .dropdown-content a:hover {
        background-color: inherit;
        color: #ff7900;
    }
    .dropdown-content a {
        text-align: center;
        padding: 5px 5px;
    }
    .dropdown:hover .dropdown-content {
        display: initial;
        position: inherit;
    }
    .dropdown-content a:first-child{
        margin-top: 10px;
    }
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-between; /* Espace entre les deux blocs */
    align-items: flex-start;
    padding: 30px 300px;
    
    background-color: black;
}

/* Bloc de gauche */
.footer-left {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.footer-logo img {
    width: auto; /* Taille du logo */
    height: 40px;
    margin-right: 10px;
}

.footer-logo span {
    font-size: 28px;
    font-weight: bold;
    color: white;
}

footer h3 {
    margin: 0 0 10px 0;
    font-size: 20px;
    color: white;
}

.footer-agencies{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    li {
        margin: 5px 0;
        font-size: 16px;
        color: white;
        cursor: pointer;
        text-decoration: underline;
    }
    li:hover {
        color: #FF7900;
    }
}

/* Bloc de droite : Carte interactive */
.footer-map {
    width: 60%; /* Taille de la carte */
    height: 300px;
    border-radius: 10px;
}
