/*adapter l'ecran */

@media only screen and (max-width: 1300px) {
    article.absolute {
        width:400px;
        height:230px;
    }
    article.absolute h1 {
        font-size: 130%; 
        width: 330px; 
        height: 66px;
    
    }
    article.absolute p {
        width: 300px;
        font-size:60%;
        margin-top:10px;
    } 
    article.absolute button{
        display: block; 
        margin-top:5px;
        margin-bottom: 10px;
        padding:10px 20px;
        font-size: 60%;
    }
    section:nth-child(4){
        height: 1000px;
        }
      
      section:nth-child(4) article{   /*les images secteurs*/
        justify-content: center;
      }
      
  
      section:nth-child(4) span p {
          width: 700px;    
       }   
}

@media only screen and (max-width: 1100px) {

    section:nth-child(3) {
        flex-direction: column;
        justify-content: center;
        height: 1500px;
        margin: 0;
        span img{
            margin: 0;
        }
        h2 {
            margin-top: 30px;
        }
        
        section:nth-child(3) div{
            margin-bottom: 200px;               
            margin-top: 20px; 
        }

    }
    
}

@media only screen and (max-width: 1000px) {
    img.relative {
        height:600px;
    }
    section:nth-child(5) {
        margin-top: 100px;
        height: 700px;
        }
    
    section:nth-child(5) article{
        flex-direction:column;
        justify-content:baseline;
        background-color: #000000;
        width:100%;
        height: 500px;
        margin-top: 0;
        margin-bottom: 0;
        }
    
    section:nth-child(5)  img {   
        position: relative;
        width: 150px;
        left: -100px;
        bottom: 300px;
        
     }
    
     section:nth-child(5) #contact {
        position: relative;
        bottom: 50px;
     }

    section:nth-child(5) div{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
}

@media only screen and (max-width: 710px) {
    section:nth-child(4){
         height: 2000px;        
       }
 
     h2 {
       font-size: 35px;
    }
          
          
       section:nth-child(4) span p {
          margin-bottom: 10px;
          margin-top: 0px;
          width: 300px;  
       }
 
       section:nth-child(4) article div{
          margin-top:50px;
       }
}

