body {
    font-family: Arial, sans-serif;
    margin: 0px;
}

.title{
    position: relative;
    height: 400px;
    width:100%;
    display: inline;
    object-fit: cover;
}

main {
    nav ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding: 0px;
    }

    a {
        text-decoration: none;
    }

    h1{
        position: absolute;
        color: #ff7900;
        font-size: 200%;
        background-color: #000000;
        top: 29%;
        left: 5%;
        padding: 40px;
        display: block;
        /*
        line-height: 10em;
    */
    }
    h2 {
        color: #ff7900;
        font-size: 50px;
        margin-top: 0%;
    }
  
}


.navsect {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid grey;
    button {
        background-color: inherit;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 15px 40px; 
        font-weight: bold; 
        text-align: center;
    } 
    button:hover {
        color:#ff7900;
    } 
    .active {
        color:#ff7900;
        border-bottom: 3px solid #ff7900;
    } 
}

.navsect, .nomSect + article p, .nomSect, article + article{
    padding: 0px 10%;
}

article {
    margin-bottom: 60px;
}

.contenu {
    display: none;
}

h2:first-of-type {
    padding-top: 44px;
}

.contenu ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    padding: 0%;
    li {
        width: 500px;
    }
}



.nomSect + article {
    padding: 40px 10% 40px 0px;
    background-color: #ddd;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    img {
        width: 384px;
        height: 216px;
    }
}

.nomSect + article {
    font-size: 20px;
}

.handshake {
    width: 600px;
    height: 400px;
}

.contenu article:last-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    img {
        margin-right: 10%;
    }

}

.nomSect {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}

i {
    color: #ff7900;
    margin-right: 20px;
    margin-top: 35px;
}

footer {
    ul li {
       padding-bottom: 5px; 
    }
    h3 {
        padding-bottom: 10px;
    }
}

@media only screen and (max-width: 1300px) {
    .contenu article:last-child {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 1000px) {
    .contenu article {
        flex-wrap: wrap-reverse;
    }
}

@media only screen and (max-width: 710px) {
    h2 {
        font-size: 35px;
    }
}

